@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?nk33wl');
  src:  url('../fonts/icomoon.eot?nk33wl#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?nk33wl') format('truetype'),
    url('../fonts/icomoon.woff?nk33wl') format('woff'),
    url('../fonts/icomoon.svg?nk33wl#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-forma-1:before {
  content: "\e900";
  color: #fff;
}
.icon-forma-2:before {
  content: "\e901";
  color: #fff;
}
.icon-forma-3:before {
  content: "\e902";
  color: #fff;
}
.icon-forma-4:before {
  content: "\e903";
  color: #fff;
}
.icon-forma-5:before {
  content: "\e904";
  color: #fff;
}
.icon-forma-6:before {
  content: "\e905";
  color: #fff;
}
.icon-forma-7:before {
  content: "\e906";
  color: #fff;
}
.icon-forma-8:before {
  content: "\e907";
  color: #fff;
}
.icon-forma-9:before {
  content: "\e908";
  color: #fc635e;
}
.icon-forma-10:before {
  content: "\e909";
  color: #fff;
}
