body {
	color: #4d4d4d;
	font-family: 'Dosis', sans-serif;
	font-size: 15px;
	line-height: 1;
}
.map-control {
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 2px 2px rgba(33, 33, 33, 0.4);
  margin: 10px;
  /* Hide the control initially, to prevent it from appearing
	 before the map loads. */
  display: none;
}
/* Display the control once it is inside the map. */
#map .map-control { display: block; }

.selector-control {
  font-size: 14px;
  line-height: 30px;
  padding-left: 5px;
  padding-right: 5px;
}
.fa {
	display: block;
	padding: 5px;
}
.page-button  {
	color: #fc635e;
	height: 30px;
	width: 30px;
	font-size: 20px;
	border-radius: 50%;
	border: 1px solid;
	border-color: #fc635e;
	z-index: 1;
	display: block;
	margin: 0 auto;
	margin-bottom: 20px;
}
.page-button:hover {
	border-color: #000;
}
/* .btn-scroll {
	display: none;
} */
.page-button-red {
	height: 30px;
	width: 30px;
	font-size: 20px;
		background-color: #fc635e;
	border-radius: 50%;
	border: 1px solid;
	border-color: #fc635e;
	z-index: 1;
	display: block;
	position: absolute;
    bottom: 20px;
<<<<<<< HEAD
    left: 49%;
=======
    left: 47%;
>>>>>>> 9ab39c0126ec6093dcfe01d98e3126eef8c5d2a9
}
.page-button-red .main-page-link {
	color: #fff;
}
.page-button-red:hover {
		border-color: #bd0505;
		background-color:#bd0505;
}
.page-button-red:hover .main-page-link {
	color: #fe8682;
}
.page-button .main-page-link {
	color: #fc635e;
}
.page-button:hover .main-page-link {
	border-color: #000;
	color: #000;
}
.team .page-button {
	transform: rotate(180deg);
 }
section {
	    position: relative;
	    display: flex;
}
h1 {
	color: #ffffff;
	font-size: 51px;
	font-weight: 700;
	line-height: 36px;
	text-transform: uppercase;
}
h1 .colorred,  h2 .colorred, h5 .colorred{
	color: #fc635e;
}
h2 {
	font-size: 28px;
	font-weight: 500;
	line-height: 26px;
	text-transform: uppercase;
}
h3 {
	color: #868686;
	font-size: 20px;
	font-weight: 500;
	line-height: 20px;
	text-transform: uppercase;
}
p {
	font-family: "PF Encore Sans Pro";
	font-size: 24px;
	font-weight: 300;
	line-height: 26px;
}
.bg-grey {
	background-color: #f2f2f2;
}
.btn {
	color: #fc635e;
	font-family: "PF Encore Sans Pro";
	font-size: 24px;
	font-weight: 300;
	line-height: 26px;
	width: 205px;
	height: 56px;
	border: 2px solid #fc635e;
	border-radius: 10px;
	padding: 18px 35px;
}
.btn-color {
	font-size: 24px;
	font-weight: 300;
	line-height: 26px;
	width: 205px;
	height: 56px;
	border: 2px solid #fc635e;
	border-radius: 10px;
	padding: 18px 35px;
	color: #fff;
    background: #fc635e;
}
.btn:hover {
	color: #fff;
	border-color: #fff;
}
.wrapper {
	max-width: 1180px;
	width: 100%;
	margin: 0 auto;
	padding: 0;
}

header {
	top: 22px;
	left: 0;
	right: 0;
	position: absolute;
	z-index: 99;
}
.header-wrap {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.logo {
	margin-left: 20px;
	display: flex;
	align-items: center
}
.logo-link {
	margin-left: 15px;
	color: #ffffff;
	font-size: 24px;
	font-weight: 700;
	line-height: 15.65px;
}
.navigation {
	display: flex;
	align-items: center
}
.menu{
	color: #ffffff;
	display: flex;
	margin-right: 20px;
}
.menu-item {
	list-style: none;
	margin-left: 50px;
}
.zzzz{
	margin-bottom: 60px;
}
.menu-link {
	font-size: 16px;
	font-weight: 400;
	line-height: 36px;
	text-transform: uppercase;
	color: #ffffff;
}
.menu-link:hover {
	color: #fc635e;
	border-bottom: 4px solid;
}
.main-page {
	position: relative;
	display: flex;
	align-items: center;
	text-align: center;
	background: url(../img/bg.header.png)  no-repeat center top;
	background-size: cover;
	height: calc(80vh + 100px);
	overflow: hidden;
}
.main-page-img-black {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	opacity: 0.5;
	background-color: #000;
	z-index: 0;
}
.main-page-content {
	position: relative;
	z-index: 2;
}
.main-page-content h1 {
	width: 950px;
	margin: 0 auto;
	position: relative;
	font-size: 51px;
	font-weight: 700;
	line-height: 36px;
	text-transform: uppercase;
}
.main-page-content h1:before, h1:after {
	content: '';
	display: block;
	position: absolute;
	width: 107px;
	height: 8px;
	background-color: #ffffff;
	opacity: 0.2;
}
.main-page-content h1::after  {
	right: 75px;
    top: 35%;
}
.main-page-content h1::before {
	left: 75px;
	top: 35%;
}
.main-page-content p {
	color: #ffffff;
	font-size: 24px;
	font-weight: 300;
	line-height: 26px;
	letter-spacing: -0.12px;
	margin: 40px 0 80px;
}

/* ---receives---*/

.receives-content {
	display: block;
	text-align: center;
	justify-content: center;
	align-items: center;
}
.receives-content h2{
	font-size: 28px;
	font-weight: 500;
	line-height: 26px;
	text-transform: uppercase;
	margin: 0 auto;
	margin-top: 40px;
}
.receives-content h2::after{
	content: '';
	display: block;
	height: 2px;
	margin: 12px auto 20px;
	background-color: #adadad;
	width: 312px;
}
.receives-content p {
		margin-bottom: 60px;
	color: #adadad;
	font-size: 20px;
	font-weight: 300;
	line-height: 26px;
	letter-spacing: -0.1px;
}
.receives-list {
	display: flex;
	text-align: center;
	justify-content: space-between;
	align-items: center;
}
.receives-item h3 {
	margin-top: 15px;
}
.receives-item h3::after {
	content: '';
	display: block;
	height: 1px;
	margin: 10px auto 0;
	background-color: #adadad;
	width: 59px;
}
.receives-item p {
	margin-top: 15px;
	margin-bottom: 50px;
	color: #adadad;
	font-size: 15px;
	font-weight: 300;
	line-height: 18px;
}
.receives-item .icon-forma {
	z-index: 3;
	font-size: 35px;
}
/* ---Шестигранник---*/
.hexagon {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	width: 130px;
	height: 75.06px;
	background-color: #ff4848;
	border-left: solid 3px #ff7575;
	border-right: solid 3px #ff7575;
	margin: 0 auto;
	margin-bottom: 46px;
	z-index: 2;
}

.hexagon:before,
.hexagon:after {
  content: "";
  position: absolute;
  z-index: 1;
  width: 91.92px;
  height: 91.92px;
  -webkit-transform: scaleY(0.5774) rotate(-45deg);
  -ms-transform: scaleY(0.5774) rotate(-45deg);
  transform: scaleY(0.5774) rotate(-45deg);
  background-color: #ff4848;
  left: 16.0381px;
}
.hexagon:before {
  top: -45.9619px;
  border-top: solid 4.2426px #ff7575;
  border-right: solid 4.2426px #ff7575;
}

.hexagon:after {
  bottom: -45.9619px;
  border-bottom: solid 4.2426px #ff7575;
  border-left: solid 4.2426px #ff7575;
}
.hexagon:hover .icon-forma:before {
	color: #fc5e5e;
}
.hexagon:hover::after, .hexagon:hover::before {
	background-color: #fff;
}
.hexagon:hover {
	background-color: #fff;
}

/* ---business--- */
.business {
	position: relative;
	display: flex;
	text-align: center;
	align-items: center;
	background: url(../img/2.png)  no-repeat center top;
	background-size: cover;
	height: calc(80vh + 100px);
	overflow: hidden;
}
.business .main-page-img-black {
	opacity: 0.7;
	z-index: 1;
}
.business-rank-content {
	position: relative;
	z-index: 5;
}
.business-rank-content::after {
	content: '';
	display: block;
	position: absolute;
	border: 8px solid #131313;
    opacity: 0.25;
	width: 940px;
	height: 384px;
	top: -135px;
	left: 120px;
	z-index: -1;
}
.business-rank-content h1 {
	margin-bottom: 80px;
}
.business-rank-content h1::before, .business-rank-content h1::after {
	content: none;
}
.business-rank-content .btn {
    padding: 10px 45px;
}
/* PROCESSE */

.proces .receives-content h2::after {
	width: 183px;
}
/* landing */

.landing .receives-content h2::after {
	width: 222px;
}
.landing, .marketing, .advertising  {
	display: flex;
	/* justify-content: center; */
	align-items: center;
}
.landing-list {
	position: relative;
	display: flex;
	margin-top: 65px;
	padding-bottom: 60px;
}
.landing-list h2 {
	font-size: 28px;
	font-weight: 500;
	line-height: 26px;
	text-transform: uppercase;
	color: #868686;
	margin-bottom: 30px;
	padding-left: 15px;
}

.landing-list h2::before {
	content: '';
	display: block;
	position: absolute;
	width: 10px;
	height: 39px;
	background-color: #fc635e;
	left: 0px;
	top: -5px;
}
.landing-list p {
	padding-right: 80px;
	color: #9e9898;
	font-size: 18px;
	font-weight: 300;
	line-height: 26px;
	margin-bottom: 60px;
}
.landing-list-item  img {
	width: 640px;
	height: 400px;
	margin: 0 auto;
}
.landing-list-item-text-left {
	text-align: left;
}
.landing-list-item-text-left .btn, .landing-list-item-text-right .btn {
	color: #fff;
	background: #fc635e;
}
.landing-list-item-text-right {
	position: relative;
	text-align: right;
}
.landing-list-item-text-right h2::before {
	display: none;
}
.landing-list-item-text-right h2::after {
	content: '';
	display: block;
	position: absolute;
	width: 10px;
	height: 39px;
	background-color: #fc635e;
	right: 150px;
    margin-right: 5px;
	top: -5px;
}
.landing-list-item-text-right p {
	padding: 0;
	padding-left: 80px;
}
/* ---Portfolio---- */
.portfolio {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
.portfolio h2::after {
	width: 142px;
	margin-bottom: 40px;
}
.portfolio ul {
	list-style: none;
}
.portfolio-list {
	text-align: center;
}
.portfolio-list-item {
	margin-bottom: 100px;
}
.portfolio .nav-tab-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	padding: 0 20px;
}
.portfolio .nav-tab-list a {
	color: #fc635e;
	font-size: 20px;
	font-weight: 300;
	text-transform: uppercase;
}
.portfolio .nav-tab-list a:hover {
	color: #adadad;
}
.portfolio .nav-tab-list-item {
	position: relative;

}
.portfolio .nav-tab-list-item.active .nav-tab-list-link {
	color: blue;
}
.portfolio .nav-tab-list-item:after {
	content: '/';
	color: #adadad;
	font-size: 20px;
	top: 0;
	margin-left: 85px;
}
.portfolio .nav-tab-list-item:last-child::after {
	display: none;
}
.portfolio .nav-tab-list {
	border-top: 2px solid #adadad;
	padding-top: 10px;
	border-bottom: 2px solid #adadad;
	padding-bottom: 10px;
}
.box-tab-cont {
	margin-top: 45px;
}
.portfolio-list-img {
	text-align: initial;
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
.portfolio-list-img50 {
	width: 51%;
	margin: 5px;
}
.portfolio-list-img50:hover:after {
	content: '';
	position: absolute;
	background-color: #fc635e;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	opacity: 0.78;
	top:5px;
	width: 49.2%;
	height: 250px;
	z-index: 1;
}
.portfolio-list-img50 img {
	width: 100%;
	height: 250px;
}
.portfolio-list-img50 .icon-add {
	position: absolute;
	font-size: 104px;
	color: #fff;
	margin-top: 25px;
    margin-left: 204px;
	opacity: 1;
}
.portfolio-list-img25 .icon-add  {
	position: absolute;
	font-size: 104px;
	color: #fff;
	margin-top: 25px;
	margin-left: 70px;
	opacity: 1;
}
.portfolio-list-img50 .text {
	position: absolute;
	top: 30px;
	margin-left: 40px;
	color: #ffffff;
	font-size: 28px;
	font-weight: 700;
	line-height: 26px;
	text-transform: uppercase;
	opacity: 0;
}
.portfolio-list-img50:hover .text{
	z-index: 2;
	opacity: 1;
}
.portfolio-list-img25 {
	width: 25%;
	margin: 5px;
}
.portfolio-list-img25:hover:after {
	content: '';
	position: absolute;
	background-color: #fc635e;
	opacity: 0.78;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	top:5px;
	width: 24.1%;
	height: 250px;
	z-index: 1;
}
.portfolio-list-img25 .text {
	position: absolute;
	top: 30px;
	margin-left: 40px;
	color: #ffffff;
	font-size: 28px;
	font-weight: 700;
	line-height: 26px;
	text-transform: uppercase;
	opacity: 0;
}
.portfolio-list-img25:hover .text {
	opacity: 1;
	z-index: 2;
}
.portfolio-list-img25 img {
	width: 100%;
	height: 250px;
}
.tab-cont .hide {
	opacity: 0;
}
.tab-cont {
	opacity: 1;
	-webkit-transition: opacity 1.4s;
	-o-transition: opacity 1.4s;
	transition: opacity 1.4s;
}
.hide {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	height: 0;
	width: 0;
	overflow: hidden;
	z-index: -1;
	opacity:0;
}

/* ----team--- */
.team {
	height: 580px;
}
.team h2::after {
 width: 142px;
}
.team-list {
	padding-top: 80px;
	margin-bottom: 30px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
.team-list-item {
	text-align: center;
	margin: 0 105px;
}
 .team-list-item h5 {
	font-size: 28px;
	font-weight: 500;
 }
.team-list-item p {
	 font-size: 20px;
	font-weight: 300;
	letter-spacing: -0.1px;
	line-height: 34.01px;
 }
.team-list-item  a.team-list-icon {
	margin: 5px 5px 0px 5px;
	display: inline-flex;
	align-items: center;
	text-align: center;
	height: 40px;
	color: #fff;
	background-color: #565656;
	border-radius: 50%;
	font-size: 24px;
}
.team-list-item  a.team-list-icon:hover {
	background-color: #fc635e;
}
.team-list-item  a.team-list-icon .fa {
	width: 40px;
}

.team-hexagon1, .team-hexagon2, .team-hexagon3, .quote-hexagon {
	position: relative;
	text-align: justify;
	display: block;
	z-index: 2;
	margin: 0 auto;
	width: 170px;
	height: 98.15px;
	margin: 0 auto;
	margin-bottom: 70px;
	background-image: url(../img/img1.png);
	background-size: auto 196.2991px;
	background-position: center;
}
.team-hexagon2 {
	background-image: url(../img/img2.png);
}
.team-hexagon3 {
	background-image: url(../img/img3.png);
}
.quote-hexagon {
	background-image: url(../img/img4.png);
	margin-bottom: 0;
}
.team-hexagon1:hover, .team-hexagon2:hover, .team-hexagon3:hover, .quote-hexagon:hover {
	opacity: 0.5;
}
.team-hexagon1 .team-hexTop, .team-hexagon2 .team-hexTop, .team-hexagon3 .team-hexTop, .quote-hexagon .team-hexTop,
.team-hexagon1 .team-hexBottom, .team-hexagon2 .team-hexBottom, .team-hexagon3 .team-hexBottom, .quote-hexagon .team-hexBottom {
	position: absolute;
	z-index: 0;
	width: 120.21px;
	height: 120.21px;
	overflow: hidden;
	-webkit-transform: scaleY(0.5774) rotate(-45deg);
	-ms-transform: scaleY(0.5774) rotate(-45deg);
	transform: scaleY(0.5774) rotate(-45deg);
	background: inherit;
	left: 24.90px;
}

/*counter transform the bg image on the caps*/
.team-hexTop:after,
.team-hexBottom:after {
	content: "";
	position: absolute;
	width: 170.0000px;
	height: 98.14954576223639px;
	-webkit-transform:  rotate(45deg) scaleY(1.7321) translateY(-49.0748px);
	-ms-transform:      rotate(45deg) scaleY(1.7321) translateY(-49.0748px);
	transform:          rotate(45deg) scaleY(1.7321) translateY(-49.0748px);
	-webkit-transform-origin: 0 0;
	-ms-transform-origin: 0 0;
	transform-origin: 0 0;
	background: inherit;
}

.team-hexTop {
	top: -60.1041px;
}

.team-hexTop:after {
	background-position: center top;
}

.team-hexBottom {
	bottom: -60.1041px;
}

.team-hexBottom:after {
	background-position: center bottom;
}

.team-hexagon1:after, .team-hexagon2:after, .team-hexagon3:after, .quote-hexagon:after {
	content: "";
	position: absolute;
	top: 0.0000px;
	left: 0;
	width: 170.0000px;
	height: 98.1495px;
	z-index: 2;
	background: inherit;
}
/* quote */
.quote {
	margin-top: 100px;
}
.quote .hexagon, .footer-hexagon {
	margin-top: 30px;
	position: relative;
}
.quote .hexagon:hover::after, .quote .hexagon:hover::before {
	background-color: #fc635e;
}
.quote .hexagon:hover {
	background-color: #fc635e;
}
.quote .hexagon span {
	z-index: 3;
}
.hexicon {
	font-size: 45px;
}
.quote .hexagon:hover::before {
	background-color: #fc635e;
}
.quote-item p {
	text-align: justify;
	width: 400px;
	color: #767676;
	font-size: 15px;
	font-weight: 300;
	line-height: 21px;
	margin-left: 20px;
}
.quote-autor {
	text-align: left;
}
.quote-autor h5 {
	color: #818181;
	font-size: 28px;
	font-weight: 500;
	line-height: 41px;
	margin-bottom: 20px;
}
.quote-autor p {
	color: #818181;
	font-weight: 300;
	letter-spacing: -0.1px;
	margin: 0;
}
.quote-item {
	margin: 100px 0 100px 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.quote-content-slider-slide-buttons {
	margin-top:0;
	margin-bottom: 40px;
	text-align: center;
}
.slick-prev .slick-arrow {
	display: none;
}
.slick-prev {
	background: url(../img/111.png) no-repeat center;
	height: 34px;
	width: 34px;
	background-color: transparent;
	border-color: #fc635e;
	border: hidden;
}
.slick-next {
	background: url(../img/112.png) no-repeat center;
	height: 34px;
	width: 34px;
	background-color: transparent;
	border-color: #fc635e;
	border: hidden;
}
.maps {
	display: block;
	margin-top: 130px;
}
.maps iframe {
	z-index: 0!important;
}
.map-content {
	position: relative;
}
.map-hexagon {
  position: relative;
  width: 220px;
  height: 145px;
  background-color: #ff4848;
  margin: 0 auto;
  border-left: solid 3px #ff8080;
  border-right: solid 3px #ff8080;
  z-index: 2;
      margin-bottom: -70px;
}

.map-hexagon:before,
.map-hexagon:after {
  content: "";
  position: absolute;
  z-index: -1;
  width: 155.56px;
  height: 155.56px;
  -webkit-transform: scaleY(0.5774) rotate(-45deg);
  -ms-transform: scaleY(0.5774) rotate(-45deg);
  transform: scaleY(0.5774) rotate(-45deg);
  background-color: inherit;
  left: 29.2183px;
}

.map-hexagon:before {
  top: -77.7817px;
  border-top: solid 4.2426px #ff8080;
  border-right: solid 4.2426px #ff8080;
}

.map-hexagon:after {
  bottom: -77.7817px;
  border-bottom: solid 4.2426px #ff8080;
  border-left: solid 4.2426px #ff8080;
}
.map-content .hexagon-item {
	text-align: center;
	z-index: 3;
}
.map-content .hexagon-item h5 {
	color: #ffffff;
	font-size: 35px;
	font-weight: 500;
	line-height: 20.96px;
	letter-spacing: -0.14px;
	margin-bottom: 15px;
}
.map-content .hexagon-item p {
	color: #ffffff;
	font-size: 16px;
	font-weight: 300;
	line-height: 20.96px;
	letter-spacing: -0.07px;
}
.footer {
	position: relative;
	background-image: url(../img/foot.png);
	background-size: cover;
	width: 100%;
	height: 250px;
	z-index: 1;
}
 .footer-content-logo .hexagon {
	 height: 90px;
	 margin: 0;
	 z-index: 4;
 }
 .footer-content-logo .hexagon:hover,  .footer-content-logo .hexagon:hover::after,  .footer-content-logo .hexagon:hover::before  {
	background-color: #ff4848;
 }
 .footer-content-logo .hexagon h1 {
	 z-index: 4;
    color: #232323;
    opacity: 0.7;
 } .footer-content-logo .hexagon h1::after {
	display: none;
  }
 .footer-content-logo h2 {
	 margin-left: 20px;
	 color: #ffffff;
	font-family: "Gotham Pro";
	font-size: 32px;
	font-weight: 700;
	line-height: 20.71px;
	/* Text style for "D, aisy" */
	letter-spacing: -0.2px;
	z-index: 2;
 }
.footer-content-logo {
	padding-top: 20px;
	display: flex;
	justify-content: center;
	text-align: center;
	align-items: center;
	margin-top: 70px;
}
.process .proceses-list {
	margin-top: 140px;
	display: block;
    margin-bottom: 140px;
	margin-left: -110px;
}
.process .proceses-list-item {
	position: relative;
	height: 400px;
	width: 950px;
	margin: 0 auto;
}
.hexagon1 h5::after, .hexagon2 h5::after,.hexagon3 h5::after, .hexagonbig2 h5::after {
	content: '';
	display: block;
	margin: 0 auto;
	margin-top: 5px;
	width: 65px;
	height: 2px;
	background-color: #c0c0c0;
}
.proceses-list-item .hexagon1 h5, .proceses-list-item .hexagon2 h5, .proceses-list-item .hexagon3 h5, .proceses-list-item .hexagonbig2 h5 {
	color: #868686;
	font-size: 24px;
	font-weight: 500;
	line-height: 26px;
	text-transform: uppercase;
	margin: 0 auto;
	z-index: 3;
	margin-top: -35px;
}
.proceses-list-item  .hexagon1 p, .proceses-list-item .hexagon2 p, .proceses-list-item .hexagon3 p, .proceses-list-item .hexagonbig2 p {
	color: #9f9f9f;
	    font-size: 15px;
	    font-weight: 300;
	    line-height: 18px;
	    margin: 0 15px;
	    /* margin-top: -40px; */
	    z-index: 3
}
.proceses-list-item .hexagonbig2 p {
	font-size: 20px;
}
.hexagon1, .hexagon2, .hexagon3  {
  position: absolute;
  display: flex;
  text-align: center;
  flex-wrap:wrap;
  align-items: center;
  width: 200px;
  height: 115.47px;
  background-color: #ffffff;
  margin: 57.74px 0;
  border-left: solid 3px #c0c0c0;
  border-right: solid 3px #c0c0c0;

}
.hexagon1 {
	top: 8px;
	left: 80px;
}
.hexagon2 {
	left: 375px;
	    bottom: 105px;
}
.hexagon3 {
	left: 475px;
    bottom: 275px;
}
.hexagon1:before, .hexagon1:after, .hexagon2:before,  .hexagon2:after, .hexagon3:before, .hexagon3:after {
  content: "";
  position: absolute;
  z-index: -1;
  width: 141.42px;
  height: 141.42px;
  -webkit-transform: scaleY(0.5774) rotate(-45deg);
  -ms-transform: scaleY(0.5774) rotate(-45deg);
  transform: scaleY(0.5774) rotate(-45deg);
  background-color: inherit;
  left: 26.2893px;
}

.hexagon1:before, .hexagon2:before, .hexagon3:before {
  top: -70.7107px;
  border-top: solid 4.2426px #c0c0c0;
  border-right: solid 4.2426px #c0c0c0;
}

.hexagon1:after, .hexagon2:after, .hexagon3:after   {
  bottom: -70.7107px;
  border-bottom: solid 4.2426px #c0c0c0;
  border-left: solid 4.2426px #c0c0c0;
<<<<<<< HEAD
}
.hexagonbig1 {
  position: absolute;
  left: 130px;
	bottom: -125px;
  width: 300px;
  height: 173.21px;
  margin: 86.60px 0;
  background-image: url(../img/img9.png);
  background-size: auto 334.8632px;
  background-position: center;
  border-left: solid 3px  #c0c0c0;
  border-right: solid 3px  #c0c0c0;
}

.hexTop,
.hexBottom {
  position: absolute;
  z-index: -1;
  width: 212.13px;
  height: 212.13px;
  overflow: hidden;
  -webkit-transform: scaleY(0.5774) rotate(-45deg);
  -ms-transform: scaleY(0.5774) rotate(-45deg);
  transform: scaleY(0.5774) rotate(-45deg);
  background: inherit;
  left: 38.93px;
}
.hexTop:after,
.hexBottom:after {
  content: "";
  position: absolute;
=======
}
.hexagonbig1 {
  position: absolute;
  left: 130px;
	bottom: -125px;
  width: 300px;
  height: 173.21px;
  margin: 86.60px 0;
  background-image: url(../img/img9.png);
  background-size: auto 334.8632px;
  background-position: center;
  border-left: solid 3px  #c0c0c0;
  border-right: solid 3px  #c0c0c0;
}

.hexTop,
.hexBottom {
  position: absolute;
  z-index: -1;
  width: 212.13px;
  height: 212.13px;
  overflow: hidden;
  -webkit-transform: scaleY(0.5774) rotate(-45deg);
  -ms-transform: scaleY(0.5774) rotate(-45deg);
  transform: scaleY(0.5774) rotate(-45deg);
  background: inherit;
  left: 38.93px;
}
.hexTop:after,
.hexBottom:after {
  content: "";
  position: absolute;
>>>>>>> 9ab39c0126ec6093dcfe01d98e3126eef8c5d2a9
  width: 290.0000px;
  height: 167.4315780649915px;
  -webkit-transform:  rotate(45deg) scaleY(1.7321) translateY(-83.7158px);
  -ms-transform:      rotate(45deg) scaleY(1.7321) translateY(-83.7158px);
  transform:          rotate(45deg) scaleY(1.7321) translateY(-83.7158px);
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
  background: inherit;
}

.hexTop {
  top: -106.0660px;
  border-top: solid 3px  #c0c0c0;
  border-right: solid 3px  #c0c0c0;
}

.hexTop:after {
  background-position: center top;
}

.hexBottom {
  bottom: -106.0660px;
  border-bottom: solid 3px  #c0c0c0;
  border-left: solid 3px  #c0c0c0;
}

.hexBottom:after {
  background-position: center bottom;
}

.hexagonbig1:after {
  content: "";
  position: absolute;
  top: 2.8868px;
  left: 0;
  width: 290.0000px;
  height: 167.4316px;
  z-index: 2;
  background: inherit;
}
.hexagonbig2 {
  position: absolute;
  left: 672px;
  bottom: 75px;
  display: flex;
  text-align: center;
  /* justify-content: center; */
  align-items: center;
  flex-wrap:wrap;
  width: 300px;
  height: 173.21px;
  background-color: #ffffff;
  margin: 86.60px 0;
  border-left: solid 3px #c0c0c0;
  border-right: solid 3px #c0c0c0;
}

.hexagonbig2:before,
.hexagonbig2:after {
  content: "";
  position: absolute;
  z-index: -1;
  width: 212.13px;
  height: 212.13px;
  -webkit-transform: scaleY(0.5774) rotate(-45deg);
  -ms-transform: scaleY(0.5774) rotate(-45deg);
  transform: scaleY(0.5774) rotate(-45deg);
  background-color: inherit;
  left: 40.9340px;
}

.hexagonbig2:before {
  top: -106.0660px;
  border-top: solid 4.2426px #c0c0c0;
  border-right: solid 4.2426px #c0c0c0;
}

.hexagonbig2:after {
  bottom: -106.0660px;
  border-bottom: solid 4.2426px #c0c0c0;
  border-left: solid 4.2426px #c0c0c0;
}

.proceses-icon1 {
	right: 110px;
    bottom: 60px;
		background-color: #ffff;
	    display: flex;
	    border: 3px solid;
	    position: absolute;
	    z-index: 3;
	    border-radius: 50%;
		font-size: 22px;
		height: 35px;
   		width: 35px;
	    align-items: center;
	    justify-content: center;
	    border-color: #adadad;
}
.proceses-icon1 .icon-forma-1::before {
	color:#fc635e;
}
.proceses-icon2 {
	left: 66px;
    top: 40px;
		background-color: #adadad;
	    display: flex;
	    position: absolute;
	    z-index: 3;
	    border-radius: 50%;
		font-size: 22px;
		height: 35px;
   		width: 35px;
	    align-items: center;
	    justify-content: center;
}
.proceses-icon2 .icon-forma-5::before {
	color:#fff;
}
.proceses-icon3 {
	left: 360px;
    top: 105px;
		background-color: #adadad;
		display: flex;
		position: absolute;
		z-index: 3;
		border-radius: 50%;
		font-size: 22px;
		height: 35px;
   		width: 35px;
		align-items: center;
		justify-content: center;
}
.proceses-icon3 .icon-forma-6::before {
	color:#fff;
}
.proceses-icon4 {
	left: 460px;
    top: -65px;
		background-color: #adadad;
		display: flex;
		position: absolute;
		z-index: 3;
		border-radius: 50%;
		font-size: 22px;
		height: 35px;
   		width: 35px;
		align-items: center;
		justify-content: center;
}
.proceses-icon4 .icon-forma-7::before {
	color:#fff;
}
.proceses-icon5 {
	right: 260px;
	top: 50px;
		background-color: #adadad;
		display: flex;
		position: absolute;
		z-index: 3;
		border-radius: 50%;
		font-size: 22px;
		height: 35px;
   		width: 35px;
		align-items: center;
		justify-content: center;
}
.proceses-icon5 .icon-forma-8::before {
	color:#fff;
}
@media (max-width: 1199px) {
	.header-wrap {
		top: 30px;
		padding: 0 25px;
	}
	.logo {
		margin-left: 100px;
		display: flex;
		align-items: center;
		width: 50%;
	}
	.menu {
		display: flex;
	}
	.navigation {
	}
	.main-page-content .main-page-content-item:before, .main-page-content-item:after {
	    width: 90px;
	    height: 5px;
	}
	.landing-list-item-text-left {
		margin-left: 20px;
	}
	.landing-list-item-text-left h2::before {
		left: 20px;
	}
	.landing-list-item-text-right h2::after {
		right: 168px;
	}
	.landing-list-item-text-left p {
	    padding-right: 40px;
	}
	.landing-list-item img {
	    width: 600px;
	    height: 350px;
	    margin-right: 20px;
		margin-left: 20px;
	}
	.landing-list-item-text-right {
		position: relative;
	}
	.landing-list-item-text-right h2 {
		padding-right: 20px;
	}
	.landing-list-item-text-right p {
	    padding-left: 40px;
	    padding-right: 20px;
	}
	.landing-list-item-text-right .btn {
		    margin-right: 20px;
	}
	.portfolio .nav-tab-list {
		padding: 0px 75px;
		padding-top: 10px;
		padding-bottom: 10px;
	}
	.portfolio-list-item {
	    margin-bottom: 65px;
	}
	.team-list-item {
		margin: 0 auto;
	}
	.business-rank-content::after {
		display: none;
	}
	.receives-item {
		margin: 0 15px;
	}
	.business {
		height: calc(70vh + 100px);
	}
}
@media (min-width: 992px) {
	.menu-toggle {
		display: none!important;
	}
}
@media (max-width: 992px) {
	.logo {
		margin-left: 0;
	}
	.menu-toggle {
		display: inline-block;
	    padding: 0;
	    border: none;
	    background-color: transparent;
	    width: 25px;
	}
	.menu-toggle span {
		margin-top: 9px;
		background-color: #ccc;
	    width: 30px;
	    display: block;
	    height: 1px;
	}
	.menu-toggle:hover span {
		background-color: rgba(255, 255, 255, 0.4);
	}
	.menu {
		display: none;
	    position: absolute;
	    right: 0;
	    top: 60px;
	    background-color: rgb(51, 51, 51);
	    opacity: 0.8;
	}
	.menu-item {
	margin-left: 15px;
    margin-right: 10px;
	}
	.menu-link {
		color: #ccc;
		opacity: 0.4;
	}
	.main-page-content h1 {
		font-size: 42px;
	}
	.main-page-content h1::before {
		left: 135px;
	}
	.main-page-content h1::after {
		right: 135px;
	}
	.main-page-content p {
	    font-size: 20px;
	    margin: 30px 0 70px;
	}
	.receives-list {
		flex-wrap: wrap;
	}
	.receives-item {
		width: 35%;
		margin: 0px 42px;
	}
	.landing-list-item img {
		width: 350px;
	    height: 250px;
	}
	.landing-list-item-text-right h2::after {
		right: 168px;
	}

	.quote-autor {
	    width: 40%;
		padding-left: 45px;
	}
	.quote-hexagon {
		margin-left: 25px;
		margin-right: 30px;
	}
	.main-page-content h1 {
		width: 100%;
	}
	.main-page-content h1:before, h1:after {
		display: none;
		width: 80px;
	}
	.process .proceses-list {
		display: none;
	}
	.portfolio .nav-tab-list-item:after {
	    margin-left: 30px;
	}
	.portfolio-list-img25 .icon-add {
		margin-left: 10px;
	}
	.portfolio-list-img50 .icon-add {
		margin-left: 105px;
	}
}
@media (max-width: 767px) {
	.receives-content h2 {
		font-size: 22px;
	}
	.receives-content h2::after {
		width: 230px;
	}
	.receives-content p {
		font-size: 16px;
	}
	.receives-list {
		display: block;
	}
	.receives-item {
		width: 50%;
		margin: 0 auto;
	}
	.business-rank-content h1 {
		font-size: 36px;
	}
	.portfolio .nav-tab-list {
		padding: 0;
		padding-top: 5px;
		padding-bottom: 5px;
	}
	.portfolio .nav-tab-list-item:after {
	    margin-left: 15px;
	}
	.portfolio-list-img50 .text, .portfolio-list-img25 .text {
		margin-left: 5px;
	}
	.portfolio-list-img50 .text h2, .portfolio-list-img25 .text h2 {
		font-size: 18px;
	}
	.portfolio-list-img25 .icon-add, .portfolio-list-img50 .icon-add {
		margin-left: 25px;
	    margin-top: 5px;
	}
	.portfolio-list-img50, .portfolio-list-img25 {
	    width: 33.33%;
	    height: 200px;
	    margin: 5px;
	}
	.portfolio-list-img25:hover:after, 	.portfolio-list-img50:hover::after {
		width: 32%;
	    height: 200px;
	}
	.portfolio-list-img50 img, .portfolio-list-img25 img {
		height: 200px;
	}
	.portfolio .nav-tab-list a {
		font-size: 15px;
	}
	.landing-list {
	    display: block;
	}
	.landing-list-item {
		display: flex;
		justify-content: center;
	}
	.landing-list h2 {
		text-align: center;
	}
	.landing-list-item-text-left h2::before {
    	left: 280px;
		display: none;
	}
	.landing-list-item-text-right h2 {
		margin-top: 30px;
		padding: 0;
	}
	.landing-list-item-text-right h2::after {
		display: none;
	}
	.landing-list-item-text-right p, .landing-list-item-text-left p {
		text-align: center;
		margin-bottom: 30px;
	}
	.landing-list-item-text-left .btn, .landing-list-item-text-right .btn {
		display: block;
		margin: 0 auto;
		margin-bottom: 30px;
		padding: 15px 40px;
	}
	.team {
		height: auto;
	}
	.team-list {
		padding-top: 10px;
	    margin-bottom: 70px;
	    display: block;
	}
	.team-list-item {
		margin-top: 60px;
		margin-bottom: 30px;
	}
	.quote-item {
		display: block;
		margin-top: 40px;
		margin-bottom: 40px;
	}
	.quote-item .hexagon {
		margin: 20px auto;
	}
	.quote-item p {
		text-align: center;
		margin: 0 auto;
		width: auto;
		padding: 0 40px;
	}
	.quote-autor {
		width: 55%;
		margin: 0 auto;
		text-align: center;
	}
	.map-content .hexagon {
		width: 180px;
		height: 200px;
		top: -95px
	}
	.quote-hexagon {
		margin: 0 auto;
		margin-top: 50px;
		margin-bottom: 50px;
	}
<<<<<<< HEAD
}
@media only screen and (-webkit-min-device-pixel-ratio : 1.5) {
	.header-wrap {
		top: 0;
		align-items: flex-start;
	}
	.header-wrap img {
		height: 35px;
	}
	.landing-list {
		margin-top: 30px;
    	padding-bottom: 15px;
	}
	.menu {
		top: 8px;
		right: 9.5%;
		margin: 0;
	}
=======
>>>>>>> 9ab39c0126ec6093dcfe01d98e3126eef8c5d2a9
}
@media (max-width: 479px) {
	.header-wrap {
		top: 5px;
		padding: 0 25px;
		align-items: flex-start;
	}
	.header-wrap img {
		height: 35px;
	}
	.menu {
		right: 50px;
		margin-right:10px;
		top: 25px;
	}
	.main-page-content {
		margin-top: 75px;
	}
	.main-page-content p {
		font-size: 15px;
		margin: 5px  25px;
	}
	.page-button-red {
		bottom: 5px;
	}
	.main-page-content .btn, .business-rank-content .btn {
		font-size: 15px;
		padding: 5px 15px
	}
	.main-page-content h1 {
		font-size: 25px;
	}
	.receives-content h2 {
		font-size: 20px;
	}
	.receives-content p {
		font-size: 14px;
		margin-bottom: 25px;
	}
	.receives-content h2::after {
		    margin: 5px auto 10px;
	}
	.receives-item .hexagon {
		margin-top: 50px;
	}
	.receives-item p {
		margin-top: 10px;
    	margin-bottom: 30px;
		font-size: 13px;
	}
	.receives-item h3 {
		margin-top: 10px;
		font-size: 18px;
	}
	.business-rank-content h1{
		font-size: 25px;
	}
	.proces .receives-content {
		margin-bottom: 45px;
	}
	.proces .page-button {
		bottom: 5px;
	}
	.landing-list {
		margin-top: 0;
		padding-bottom: 0;
	}
	.landing-list h2 {
		font-size: 20px;
		    margin-bottom: 10px;
	}
	.landing-list p {
		font-size: 15px;
	}
	.landing-list-item-text-left {
		margin-left: 0;
	}
	.landing-list-item-text-right p, .landing-list-item-text-left p {
		padding-right: 0;
		padding: 0 10px;
	}
	.landing-list-item img {
		width: 300px;
	    height: 200px;
	}
	.landing-list-item-text-left .btn, .landing-list-item-text-right .btn {
		padding: 6px 37px;
		width: 169px;
		height: 45px;
		font-size: 18px;
	}
	.portfolio .nav-tab-list {
		padding: 0px 5px;
	}
	.portfolio .nav-tab-list a {
		font-size:12px;
	}
	.portfolio .nav-tab-list-item:after {
		display: none;
	}
	.portfolio-list-img {
		display: block;
		margin: 0 10px;
	}
	.portfolio-list-img50, .portfolio-list-img25 {
		width: 100%;
		height: 250px;
		position: relative;
		margin: 0;
	}
	.portfolio-list-img50 img, .portfolio-list-img25 img {
		height: 230px;
		width: 100%;
	}
	.portfolio-list-img25:hover::after, .portfolio-list-img50:hover::after {
		top: 0;
		width: 100%;
		height: 230px;
	}
	.portfolio-list-img50 .text, .portfolio-list-img25 .text {
		margin-left: 30px;
	}
	.portfolio-list-img25 .icon-add, .portfolio-list-img50 .icon-add {
		margin-left: 150px;
		margin-top: 5px;
	}
	.portfolio .nav-tab-list-item:after {
		font-size: 15px;
	}

	.team-list-item h5{
		font-size: 20px;
	}
	.team-list-item p {
		font-size: 15px;
	}
	.team-list-item a.team-list-icon {
		height: 35px;
		font-size: 20px;
	}
	.footer-content-logo {
		padding-top: 0px;
	}
}
